body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
}

.backbutton {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #22c55e;
  padding: 8px 15px;
  border-radius: 18px;
  text-decoration: none;
  z-index: 1000;
}

.backbutton a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.backbutton:hover {
  background: #16a34a;
}

.profile-container {
  display: flex;
  min-height: 100vh;
}

/* LEFT */
.profile-left {
  width: 350px;
  background: #1e1e1e;
  padding: 30px 20px;
  border-right: 1px solid #333;
}

.profile-card {
  text-align: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  object-fit: cover;
  border: 4px solid #22c55e;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

.profile-pic:hover {
  transform: scale(1.05) rotate(-2deg);
  filter: drop-shadow(0 10px 30px rgba(0, 255, 213, 0.2));
}

.profile-card h2 {
  margin: 0;
  color: #fff;
  font-size: 35px;
} 

.about-user {
  padding: 20px;
  text-align: left;
  margin-top: 20px;
  line-height: 1.5;
}

.about-user h3 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #fff;
}

.bio , .about-user p {
  font-size: 20px;
  color: #aaa;
  margin-bottom: 15px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  font-weight: bold;
  color: #22c55e;
  margin-bottom: 5px;
}

.edit-btn {
  /* background: #22c55e; */
  border: none;
  color: #22c55e;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

/* RIGHT */
.profile-right {
  flex: 1;
  padding: 40px;
}

.stats-grid {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.stat-box {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
}

.stat-box span {
  font-size: 22px;
  font-weight: bold;
  color: #22c55e;
}

/* Progress */
.progress-section h3 {
  margin-bottom: 20px;
}

.progress-item {
  margin-bottom: 20px;
}

.progress-bar {
  background: #333;
  height: 10px;
  border-radius: 6px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  transition: width 0.6s ease;
}

.easy-bar { background: #22c55e; }
.medium-bar { background: #f59e0b; }
.hard-bar { background: #ef4444; }

.solved-section {
  margin-top: 40px;
}

.solved-list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  max-height: 250px;
  overflow-y: auto;
}

.solved-list li {
  background: #1e1e1e;
  padding: 10px 15px;
  margin-bottom: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 4px solid #22c55e;
  transition: 0.2s;
}

.solved-list li:hover {
  background: #262626;
}

.problem-title {
  font-size: 14px;
}

.problem-difficulty {
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 4px;
  color: white;
}

.diff-easy { background: #22c55e; }
.diff-medium { background: #f59e0b; }
.diff-hard { background: #ef4444; }

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
  }
  
  .profile-left {
    /* width: 100%; */
    border-right: none;
    border-bottom: 1px solid #333;
  }
  
  .profile-right {
    padding: 20px;
  }

  .about-user {
    padding: 10px;
    text-align: center;
  }
}